:root {
    --charcoal-brown: #212922ff;
    --pine-teal: #294936ff;
    --granite: #3e6259ff;
    --muted-teal: #87ab91ff;
    --white: #f0f0f0ff;
}

body {
    margin: 0 auto;
    width: 720px;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#hero {
    background-image: url("images/bariloche.png");
    background-position-y: center;
    background-size: cover;
    padding: 10px 0 40px 0;
}

#titulo {
    width: 40%;
    padding: 6px 12px;
    background: white;
    margin: 30px auto 0px;
    border-radius: 10px;
}

#subtitulo {
    width: 60%;
    padding: 6px 12px;
    background: white;
    margin: 10px auto;
    border-radius: 10px;
}

.refugios {
    display: flex;
    justify-content: center;
    height: 300px;
    padding-top: 20px;
    /* justify-content: space-around; */
}

.elemento {
    text-align: center;
    /* border: 1px solid black; */
    padding: 10px;
    margin: 10px;
}

#refugios-titulo {
    width: 60%;
    padding: 6px 12px;
    background: rgb(151, 252, 0);
    margin: 15px auto 0px;
    border-radius: 10px;
}