body {
    margin: 0 auto;
    width: 720px;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#hero {
    background-image: url("images/bariloche.png");
    padding: 85px 0px;
}

#titulo {
    width: 35%;
    padding: 4px 8px;
    color: white;
    margin: 8px auto 0px;
    border-radius: 10px;
    background-color: #294936ff;
}

#subtitulo {
    width: 60%;
    padding: 4px 12px;
    color: white;
    margin: 10px auto;
    border-radius: 10px;
    background-color: #5B8266;
}

.refugios {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

#refugios-titulo {
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
    flex: 0 0 100%;
}

#refugios-titulo span {
    background-color: #3E6259;
    color: #f0f0f0;
    padding: 10px 25px;
    border-radius: 10px;
}

#refugios-1 {
    background-color: #87ab91ff;
    color: #212922;
}

.elemento {
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

#refugios-2 {
    background-color: #212922;
    color: #f0f0f0ff;
}


.circulo {
    border-radius: 50%;
}


#imagen-perfil {
    width: 150px;
    height: 200px;
    margin: auto 10px auto 30px;
    border-radius: 8px;
}

#guia-info {
    margin: 20px 30px 40px 30px;
    padding-top: 20px;
}

#guia-box {
    width: 450px;
    margin: 90px auto;
    /* padding: 20px; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #3E6259;
    border-radius: 20px;
    border-bottom: 6px solid #212922ff;
    color: #f0f0f0ff;
}

#guia-text {
    font-style: italic;
}